*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  margin: 0 auto;
  height: 900px;
}

.container h1 {
  text-align: center;
  font-size: 35px;
}

#board {
  margin: 0 auto;
  padding: 0;
  width: 300px;
  height: 300px;
}

.first-row {
  border: 1px solid red;
  padding: 5px;
}

table td {
  width: 100px;
  height: 100px;
  cursor: pointer;
  text-align: center;
  background-color: #F2F3F4;
}

table td:before {
  font-size: 80px;
}

table td.X:before {
  content: "X";
  color: #58D68D;
}


table td.O:before {
  content: "O";
  color: #EC7063;
}

table td:hover {
  opacity: 0.7;
}


.new-game {
  margin-top: 20px;
  height: 30px;
  width: 100px;
  border: 0;
  outline: 0;
  background-color: #7DCEA0;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}


