*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 850px;
}

#board {
  margin: 0 auto;
  padding: 0;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}



table td {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 1px solid black;
  text-align: center;
}

table td:before {
  font-size: 80px;
}

table td.X:before {
  content: "X";
  color: green;
}


table td.O:before {
  content: "O";
  color: red;
}
table td:hover {
  background-color: blue;
}